* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: black;
  color: white;
}

button {
  background-color: rgb(14, 132, 132);
  border: none;
  padding: 10px 20px;
  color: black;
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate((-50%));
}

.Light {
  display: flex;
  justify-content: space-between;
  background-color: rgb(39, 203, 203);
  padding: 15px 30px;
  color: black;
}

.Dark {
  display: flex;
  justify-content: space-between;
  background-color: rgb(41, 143, 143);
  padding: 15px 30px;
  color: black; 
}
