*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

#card{
  background-color: rgb(191, 22, 50);
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  color: black;
}
#navbar{
  background-color: rgb(26, 106, 122);
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  color: black;
}